<li>
  $<%= bid.amount %> - Bidder: <%= link_to bid.user.username, bid.user %> <br/>
  <% if @job.user == current_user && @job.open == true %>
		<%= form_for @job, :html=> { :multipart => true} do |f| %>
  		<%= render 'shared/error_messages', :object => f.object %>
 			<%= f.hidden_field :open, :value => false %>
 			<%= f.hidden_field :current_bid, :value => bid.amount %>
  		<%= f.submit 'Accept Bid' %>
		<% end %>
	<% end %>
</li>
<!--
<tr>
							<th><a href="#">John Smith Plumbing</a></th>
							<td class="hidden-phone"><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td class="hidden-phone"><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>
							<td class="hidden-phone"><a href="#">$50.00</a></td>
							<td class="hidden-phone"><a class="accept" href="#">Accept</a></td>
							<td class="hidden-phone"><a href="#">Contact Provider</a></td>
						</tr>
						<tr class="visible-phone">
							<td ><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td ><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>						
							<td><a href="#">$50.00</a></td>
							<td><a class="accept" href="#">Accept</a></td>
							<td><a href="#">Contact Provider</a></td>

						</tr>
						<tr>
							<th><a href="#">John Smith Plumbing</a></th>
							<td class="hidden-phone"><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td class="hidden-phone"><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>
							<td class="hidden-phone"><a href="#">$50.00</a></td>
							<td class="hidden-phone"><a class="accept" href="#">Accept</a></td>
							<td class="hidden-phone"><a href="#">Contact Provider</a></td>
						</tr>
						<tr class="visible-phone">
							<td ><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td ><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>						
							<td><a href="#">$50.00</a></td>
							<td><a class="accept" href="#">Accept</a></td>
							<td><a href="#">Contact Provider</a></td>

						</tr>
						<tr>
							<th><a href="#">John Smith Plumbing</a></th>
							<td class="hidden-phone"><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td class="hidden-phone"><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>
							<td class="hidden-phone"><a href="#">$50.00</a></td>
							<td class="hidden-phone"><a class="accept" href="#">Accept</a></td>
							<td class="hidden-phone"><a href="#">Contact Provider</a></td>
						</tr>
						<tr class="visible-phone">
							<td ><a class="message-job" href="#"><span class="message-count">1</span><img src="img/yellow-mail.gif" alt="yellow-mail"></a></td>
							<td ><a class="stamp" href="#"><img src="img/v-stamp.png" alt="v-stamp"></a></td>						
							<td><a href="#">$50.00</a></td>
							<td><a class="accept" href="#">Accept</a></td>
							<td><a href="#">Contact Provider</a></td>

						</tr>
						-->