<h3>Post a new job:</h3>
<%= form_for @job, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_field :title, :placeholder => "Title" %><br/>
  <%= f.text_field :description, :placeholder => "Description" %> <br/>

  <strong>Job listing duration:</strong><br/>
  <%= f.select :duration, [['12 Hours','12'],['1 Day','24'],['2 Days','48']] %><br/>

  <strong>Job start time:</strong><br/>
  <%= f.datepicker "start_date" %><br/>

  <strong>Job end time:</strong><br/>
  <%= f.datepicker "expire_date" %><br/>

  <strong>Job category:</strong><br/>
  <%= collection_select(:job, :category, @jobtypes, :name, :name) %>

  <h4>Add photos:</h4>
  <%= f.fields_for :jobphotos do |builder| %>
    <%= render "jobphoto_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add another photo", f, :jobphotos %></p>

  <%= f.submit 'Post' %>
<% end %>