<h3>Viewing: <%= @job.title %></h3><p/>

<% if @job.user = current_user %>
	<%= link_to "[Edit]", edit_job_path(@job) %> - <%= link_to "[Delete]", @job, :method => :delete, :class=> :destroy %><p/>
<% end %>

<strong>Category:</strong> <br/>
<%= @job.category %>
<p/>

<strong>Description:</strong><br/>
<%= @job.description %>
<p/>

<p>
<% unless @jobphotos.empty? %>
	<% @jobphotos.each do |jobphoto| %>
		<% if jobphoto.photo.exists? %>
			<%= image_tag jobphoto.photo.url(:small) %>
		<% end %>
  	<%= jobphoto.caption %>
	<% end %>
<% else %>
No photos posted for this job.
<% end %>
</p>

<strong>Posted by:</strong><br/>
<%= link_to @job.user.username, @job.user %>
<p/>

<strong>Duration:</strong><br/>
<%= @job.duration %> Days
<p/>

<strong>Posted on:</strong><br/>
<%= @job.created_at %> 
<p/>

<strong>Expires on:</strong><br/>
<%= (@job.created_at + @job.duration.days) %>
<p/>

<h4>-Comment on Job-</h4>
<%= render 'comments/comment_form' %>
<p/>

<h4>Comments:</h4>
<%= render 'comments/job_comments' %><p/>

<% if current_user.role == 'provider' && @job.open == true %>
	<h4>-Bid on Job-</h4>
	<%= render 'bids/bid_form' %><p/>
<% end %>

<h4>Current Bid: $<%= @job.current_bid %></h4>

<h4>Bid History:</h4>
<strong>Bid count:</strong> <%= @job.bid_count %> Bids
<%= render 'bids/bids_on_job' %>