

<% if @job.user == current_user %>
	<%= link_to "[Edit]", edit_job_path(@job) %> - <%= link_to "[Delete]", @job, :method => :delete, :class=> :destroy %><p/>
<% end %>


<p>


<strong>Posted by:</strong><br/>
<%= link_to @job.user.username, @job.user %>
<p/>


<% if current_user.role == 'provider' && @job.open == true %>
	<% unless current_user == @job.user %>
		<h4>-Bid on Job:</h4>
		<%= render 'bids/bid_form' %><p/>
	<% end %>
<% end %>



<h4>Bid History:</h4>
<strong>Bid count:</strong> <%= @job.bid_count %> Bids


<section class="row">
		<article class="span12">
			<div class="active-bidding-header">		
				<% if @job.open == true %>        
					<h1>Bidding Active</h1>
					<span class="date">Expires on: <%= time_tag (@job.created_at + @job.duration.days) %></span>
				<% else %>
					<h1>Bidding Closed</h1>
					<span class="date">Expired on: <%= time_tag (@job.created_at + @job.duration.days) %></span>
				<% end %>
				<article class="row-fluid">
					<article class="span3">
						<h4><%= @job.title %></h4>
						<span class="date"><%= time_tag @job.created_at %></span>
					</article>
					
					<article class="span9">
						<h5>Category: <%= @job.category %></h5>
						<h4>Job Details</h4>
		        <article class="row-fluid">
						  <article class="span7">
								<p><%= @job.description %></p>
						  </article>
						</article>
					</article>
				</article>
				<% unless @jobphotos.empty? %>
					<% @jobphotos.each do |jobphoto| %>
						<% if jobphoto.photo.exists? %>
							<%= image_tag jobphoto.photo.url(:small) %>
							<%= jobphoto.caption %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</article>
	</section>
	
	<section class="row">
		<article class="span12">
		  <div class="dashboard-table active-bidding">
				<table>
					<caption>Bidding history:</caption>
					<%= render @bids %>
				</table>
			</div>
		</article>
	</section>