<section class="profile-view">
	
	<% if current_user.city.blank? || current_user.state.blank? %>
		<section class="improve-profile">
			<h3>Welcome, <%= current_user.firstname %>. Let's improve your profile</h3>
			<h1>Where are you located?</h1>

			<%= form_for @user, :html=> { :multipart => true} do |f| %>
      	<%= render 'shared/error_messages', :object => f.object %>
      	<%= f.text_field :city, :placeholder => "Add City", :id => "postal-code" %>
      	<%= f.select :state, us_states, :id => "city" %>
				<div class='clearfix'></div>					
				<%= f.submit 'Save' %>
			<% end %>
		</section>
	<% end %>
	     
	<section class="profile-header">
		<section class="row">
			<article class="span4">
			  <div class="profile-pic">
				  <a href="#"><%= image_tag "camera-icon.png", :size=>"57x37", :class => "camera" %></a>
					<%= render_profile_pic(current_user, :large) %>       	
				</div>
			</article>
			
			<article class="span8">
				<h1>
					<span class="pen"></span>
					<%= best_in_place @user, :firstname, :nil=>"First name," %> <%= best_in_place @user, :lastname, :nil=>"Last name" %>
				</h1>
				<h3>
					<span class="pen"></span>
					<%= best_in_place @user, :contractor_type, :nil=>"Profession" %>
				</h3>
				<h3>
					<span class="pen"></span>
					<%= best_in_place @user, :city, :nil=>"Your city" %>, <%= best_in_place @user, :state, :nil=>"State" %>
				</h3>
				<h3>
					<span class="pen"></span>
					<%= best_in_place @user, :credentials, :nil => "Your credentials" %>
				</h3>
				<% if current_user.verified? %><div class="credential-stamp"><%= image_tag "v-stamp.png" %></div><% end %>				     		
				<a class="edit" href="/settings">Edit<span class="menu-arrow"></span></a>
			</article>
	  </section>
	</section>
	
	<section class="profile-contact">
		<section class="row">
			<article class="span5">
				<ul>
					<li><span class="pen"></span><%= best_in_place @user, :email, :nil=>"Email Address" %></li>
					<li><span class="pen"></span><%= best_in_place @user, :website, :nil=>"Web Address" %></li>
					<li><span class="pen"></span><%= best_in_place @user, :phone, :nil=>"Phone" %></li>
				</ul>
			</article>
			
			<article class="span5">
				<ul>
				  <li><span class="pen"></span><%= best_in_place @user, :facebook, :nil=>"Facebook" %></li>
					<li><span class="pen"></span><%= best_in_place @user, :twitter, :nil=>"Twitter" %></li>
					<li><span class="pen"></span><%= best_in_place @user, :instant_message, :nil=>"IM" %></li>
				</ul>
			</article>
		</section>
	</section>

	<section class="profile-about">
	  <section class="row">
			<article class="span12">
		 		<h1>Background</h1>
		 		<div class="add-info">
      		<span class="yellow">+</span> <%= best_in_place @user, :about_title, :nil=>"Click to add summary" %>
      	</div>
      	<div class="add-info">
			  	<span class="yellow">+</span> <%= best_in_place @user, :about_content, :nil=>"Click to add bio" %>			
			  </div>					
				</article>
	    </section>
		</section>	 

	  <section class="profile-past-work">		     	
	    <section class="row">
			  <article class="span12">
					<h1>Past Work</h1>
					<%= render @pastworks %>
					<%= render "pastworks/form" %>
				</article>
	    </section>
    </section>
  </section>
</section>