<section class="blue-back">
	<section class="container form-anchor">
		<section class="row">
		  <article class="span8">
		  	<%= form_for @user, :html => {:class => "main-prompt", :id=>"sign-up"} do |f| %>
		  		<%= render 'shared/error_messages', :object => f.object %>
		  		<%= f.hidden_field :role, :value=> "placer" %>
					<h5>Basic Info</h5>
					<%= label_tag :firstname, 'First Name' %>	        		
					<%= f.text_field :firstname %>
		
					<%= label_tag :lastname, 'Last Name' %>	        		
					<%= f.text_field :lastname %>
		
					<%= label_tag :email, 'Email' %>	        		
					<%= f.text_field :email %>

					<%= label_tag :username, 'Username' %>	        		
					<%= f.text_field :username %>
		
					<%= label_tag :password, 'Password' %>			        		
				  <%= f.password_field :password %>
					
					<%= label_tag :password_confirmation, 'Verify Password' %>	
					<%= f.password_field :password_confirmation %>
					<div class="clearfix"></div>
					<%= f.submit 'Next', :class=>"next" %>
		    <% end %>
		    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
		  </article>
		</section>
	</section>	
</section>