<section class="dashboard-view">
	<section class="job-posts">
		<section class="row">
			<article class="span12">
		    <article class="dash-header">
				  <h1>Hello <%= current_user.firstname %></h1>
				  <a class="add-info" href="#"><span class="yellow">+</span> Add a new job</a>
				  <%= render 'job_form' %> 
		    </article>
		  </article>
		</section>	        
		
		<section class="row">
			<article class="span12">
		    <div class="dashboard-table">
					<table class="">
						<caption>Your recent job posts</caption>
						<% @posted_jobs.each do |job| %>
							<tr>
								<th><%= link_to job.title, job %></th>
								<td><%= link_to pluralize(job.bids.count, "Bid"), job %></td>
								<td><%= link_to "Edit", edit_job_path(job) %> · <%= link_to "Delete", job_path(job), :method=>:delete  %></td>
							</tr>
						<% end %>
					</table>
		    </div>
		  </article>
		</section>
	</section>
</section>		 		