<h3>HOME PAGE (not signed in)</h3>

<%= link_to "Sign in with Facebook", "/auth/facebook" %>

<%= form_tag sessions_path do %>
	Username/Email <br/>
	<%= text_field_tag :login, params[:login] %> <br/>
	Password <br/>
  <%= password_field_tag :password, ""%> <br/>
  <%= submit_tag "Sign in" %>
<% end %>
<p/>
<%= link_to "Forgot your password?", assist_path %>