<% if admin_user %>
<h3>Admin Panel:</h3>
<p/>

<h4>Listing all users:</h4>
<table>
  <thead>
     <tr>
      <th>ID #</th>
      <th>Status</th>
      <th>Username</th>
      <th>Email</th>
      <th>Activated on</th>
     <tr>
  </thead>
  <tbody>
    <% for user in @users %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.state %></td> 
      <td><%= link_to user.username, user %></td>
      <td><%= user.email %></td> 
      <td><%= user.activated_at %></td>  
      <td><%= link_to "Delete", user_path(user), :method=>:delete  %></td>
    <tr>
    <% end %>
  </tbody>
<table>
<p/>

<h4>Current job categories:</h4>
<%= render 'jobtypes/jobtype_form' %>
<p/>

<% unless @jobtypes.empty? %>
  <% @jobtypes.each do |jobtype| %>
		- <%= jobtype.name %><br/>
	<% end %>
<% else %>
  No job categories exist.
<% end %>
<p/>

<h4>Customized static pages:</h4>
<% unless @pages.empty? %>
  <% @pages.each do |page| %>
		<strong>Page: <%= page.name %></strong> <%= link_to "[edit]", edit_page_path(page) %><br/>
		Header: <%= page.header %><br/>
		Content: <%= page.content %><br/>
	<% end %>
<% else %>
  You haven't customized any static pages yet.
<% end %>
<p/>

<h4>Create customized static pages:</h4>
<%= form_for @page, :html=> { :multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.select :name, [['FAQ','faq'],['About','about'],['Privacy Policy','privacypolicy'],['Contact','contact']] %><br/>
  <%= f.text_field :header, :placeholder => "Page header" %> <br/>
  <%= f.text_area :content, :placeholder => "Page content" %><br/>
  <%= f.submit 'Save' %>
<% end %>

<% else %>
  <%= render 'admins/start' %>
<% end %>