<footer>
  <nav class="round">
    <div class="footer_bg">
			<%= link_to "JobBidit © 2012", root_path, :class => "footer_links"  %> ·
			<%= link_to "Contact", contact_path, :class => "footer_links" %> ·
			<%= link_to "Privacy Policy", privacypolicy_path, :class => "footer_links" %> · 
			<%= link_to "Admin", admin_path, :class => "footer_links" %>
    </div>
  </nav>

  <ul class="nav pull-right">
    <% if admin_user %>
      <li><%= link_to "Admin Logout", adminsignout_path, :method => :delete %></li>
    <% end %>
  </ul>
</footer>
<%# debug session if Rails.env=="development" %>