<header class="whiteband">
  <section class="container">
    <section class="row">
      <section class="span4">
        <section class="brand">
          <h1>ScoutJack</h1>
          <h5>tagline here</h5>
        </section>
      </section>
      
      <section class="span4 offset4">
        <section class="info-nav-bar pull-right">
          <article class="info-nav info-nav-faq">
            
            <div class="show-info">
              <span class="info-faq"></span>
              
              <article class="info-box">
                <article class="box-top-border"></article>
                <article class="faq-info">
                  <h3>FAQ</h3>
                  
                  <div class="question">
                    <div class="question-label">
                      <span class="text-label">Q.</span>
                      <span class="text-label">A.</span>
                    </div>
                    <div class="question-text">
                      <p>Lorem ipsum dolor sit amet?</p>
                      <p>Consectetur adipiscing elit. Nullam in odio in lorem luct accumsan. Nulla facilisi. Nulla facilisi.</p>
                    </div>
                  </div>
                  
                  <div class="question">
                    <div class="question-label">
                      <span class="text-label">Q.</span>
                      <span class="text-label">A.</span>
                    </div>
                    <div class="question-text">
                      <p>Lorem ipsum dolor sit amet?</p>
                      <p>Consectetur adipiscing elit. Nullam in odio in lorem luct accumsan. Nulla facilisi. Nulla facilisi.</p>
                    </div>
                  </div>
                  
                  <div class="question">
                    <div class="question-label">
                      <span class="text-label">Q.</span>
                      <span class="text-label">A.</span>
                    </div>
                    <div class="question-text">
                      <p>Lorem ipsum dolor sit amet?</p>
                      <p>Consectetur adipiscing elit. Nullam in odio in lorem luct accumsan. Nulla facilisi. Nulla facilisi.</p>
                    </div>
                  </div>
                </article>
              </article>
            </div>
          </article>
                        
          <article class="info-nav info-nav-phone">
            <div class="show-info">
              <span class="info-phone"></span>
              <article class="info-box">
                <article class="box-top-border"></article>
                <article class="contact-info">
                  <p>778 806 5555</p>
                  <p>michael@projectx.ca</p>
                  <p>info@projectx.ca</p>                                     
                </article>
              </article>
            </div>
          </article>        
                        
          <article class="info-nav info-nav-about">
            <div class="show-info">
              <span class="info-about"></span>
              <article class="info-box">
                <article class="box-top-border"></article>
                <article class="about-info">
                  <h3>What is Wrenchmark?</h3>
                  <p>
                    Project X is lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in odio in lorem luctus accumsan. Nulla facilisi. Nulla facilisi. Aenean faucibus convallis metus, eu vehicula tortor varius ac. Duis vel arcu est. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                  <p>
                    Aliquam aliquet tempor bibendum. Donec purus purus, tincidunt rutrum tempus eu, gravida ut odio. Maecenas viverra nulla ut turpis volutpat tempus eget eu lectus. Pellentesque at adipiscing nulla. Ut dapibus, lorem placerat rutrum condimentum, mauris velit dapibus massa, sed semper purus tellus a dui.
                  </p>
                </article>
              </article>
            </div>
          </article>
        </section>
      </section>
    </section>

    <% unless current_user %>          
                  
      <section class="row">
        <section class="span12">
          <form class="pull-right">
            <p>
              <span class="logged-in-prompt">
                <a href="/signin">Sign in</a> &bull;
                <a href="/signup">Sign Up</a>
              </span>
            </p>
          </form>
        </section>
      </section>
              
    <% else %>            

      <section class="row">
        <section class="span12">
          <% if current_user.role == 'provider' %>

            <%= form_tag jobs_path, :class => "pull-right", :method => :get do %>
              <%= text_field_tag :search, params[:search], :class => "pull-right", :placeholder => "Search" %>
              <p>
                <span class="logged-in-prompt">
                  <%= link_to "Account Type: #{current_user.role}", settings_path %> &bull;
                  <%= link_to "Upgrade", upgrade_path %>
                </span>
              </p>
            <% end %>

          <% else %>
            
            <%= form_tag users_path, :class => "pull-right", :method => :get do %>
              <%= text_field_tag :search, params[:search], :class => "pull-right", :placeholder => "Search" %>        
            <% end %>

          <% end %>
        </section>
      </section>

      <section class="row">
        <% if current_user.role == 'provider' %>              
          <section class="span12 tab-handler">
            <ul class="tabs">
              <!-- TODO: setup active link switches (<li class='active'>) -->
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Job Board", jobs_path %></li> 
            </ul> 
          </section>
          
        <% else %>

          <section class="span12 tab-handler">
            <ul class="tabs">
              <li><%= link_to "Estimator", estimator_path %></li> 
              <li><%= link_to "Provider List", users_path %></li>
              <li><%= link_to "Dashboard", root_path %></li>
            </ul> 
          </section>
        <% end %>
      </section>
    <% end %>
  </section>
</header>

<% flash.each do |key, value| %>
  <div id="flash" class="alert alert-info msg_format"><%= value %></div>
<% end %>

<%= render 'pages/dashboard' if current_user %>