      <section class="row">
        <section class="span12">
          <% if current_user.role == 'provider' %>

            <%= form_tag jobs_path, :class => "pull-right", :method => :get do %>
              <%= text_field_tag :search, params[:search], :class => "pull-right", :placeholder => "Search" %>
              <p>
                <span class="logged-in-prompt">
                  <%= link_to "Account Type: #{current_user.role}", settings_path %> &bull;
                  <%= link_to "Upgrade", upgrade_path %>
                </span>
              </p>
            <% end %>

          <% else %>
            
            <%= form_tag users_path, :class => "pull-right", :method => :get do %>
              <%= text_field_tag :search, params[:search], :class => "pull-right", :placeholder => "Search" %>        
            <% end %>

          <% end %>
        </section>
      </section>

      <section class="row">
        <% if current_user.role == 'provider' %>              
          <section class="span12 tab-handler">
            <ul class="tabs">
              <% if @profile_tab_active == true %>
                <li class="active"><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Job Board", jobs_path %></li> 
              <% elsif @jobs_tab_active == true %>
                <li><%= link_to "Profile", current_user %></li>
                <li class="active"><%= link_to "Job Board", jobs_path %></li> 
              <% else %>
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Job Board", jobs_path %></li> 
              <% end %>
            </ul> 
          </section>
          
        <% else %>

          <section class="span12 tab-handler">
            <ul class="tabs">
              <% if @estimator_tab_active == true %>
                <li class="active"><%= link_to "Estimator", estimator_path %></li> 
                <li><%= link_to "Provider List", users_path %></li>
                <li><%= link_to "Dashboard", root_path %></li>
              <% elsif @providers_tab_active == true %>
                <li><%= link_to "Estimator", estimator_path %></li> 
                <li class="active"><%= link_to "Provider List", users_path %></li>
                <li><%= link_to "Dashboard", root_path %></li>
              <% elsif @dashboard_tab_active == true %>
                <li><%= link_to "Estimator", estimator_path %></li> 
                <li><%= link_to "Provider List", users_path %></li>
                <li class="active"><%= link_to "Dashboard", root_path %></li>
              <% else %>
                <li><%= link_to "Estimator", estimator_path %></li> 
                <li><%= link_to "Provider List", users_path %></li>
                <li><%= link_to "Dashboard", root_path %></li>
              <% end %>
            </ul> 
          </section>
        <% end %>
      </section>