<!DOCTYPE html>
<html>
<head>
  <title>JobBidIt</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="body_container">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
